#content{
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding-bottom: 20px;
}

#title{
    text-align: center;
}

#tabel{
    width: 900px;
    border: 1px solid black;
    margin: 0px auto;
}

#databuah{
    border-collapse: collapse;
    width: 900px;
    margin: 0px auto;
}

#databuah td, th {
    border: 3px solid white;
    padding: 8px;
}

#databuah tr{
    background-color: #ff7f50;
}

#databuah th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #aaaaaa;
    color: black;
}

#databuah td {
    padding-top: 2px;
    padding-bottom: 2px;
}

